.advantages__title {
  margin-left: 20px;
}

.advantages-list {
  width: 280px;
  padding: inherit;
}

.advantages-list__description {
  width: 200px;
  margin-left: 100px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin-left: 33px;
    margin-bottom: 0px
  }

  .advantages-list__description {
    width: 255px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
  }

  .advantages-list__item {
    width: 260px;
    margin-left: 30px;
    margin-top: 180px;
  }

  .advantages-list {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: auto;
    margin: auto;
  }

  .advantages-list {
    width: auto;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }

  .advantages-list__item {
    margin-left: 0px;
  }

  .advantages__title {
    padding-left: 110px;
    margin-left: auto;
    margin-top: 79px;
    font-size: 60px;
    line-height: 60px;
  }
}
