.advantages__title {
  margin-left: 20px;
  margin-bottom: 42px;
}

.advantages__list {
  width: 280px;
  padding: 0;
}

.advantages__item {
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 200px;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    background-position: center;
  }
}

.advantages__item--useful {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: auto 50px;
      background-repeat: no-repeat;
    }
  }
}

.advantages__item--simplicity {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: auto 50px;
      background-repeat: no-repeat;
    }
  }
}

.advantages__item--food {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: auto 50px;
      background-repeat: no-repeat;
    }
  }
}

.advantages__item--time {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: auto 50px;
      background-repeat: no-repeat;
    }
  }
}

.advantages__description {
  width: 200px;
  margin-left: 100px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: -34px;
  }

  .advantages__title {
    margin-left: 22px;
    margin-bottom: 185px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    width: 255px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
  }

  .advantages__item {
    width: 260px;
    margin-bottom: 245px;

    &::before {
      right: 177px;
      top: -113px;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 115px;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .advantages__item--useful {
    &::after {
      content: "1";
    }
  }

  .advantages__item--simplicity {
    &::after {
      content: "2";
    }
  }

  .advantages__item--food {
    &::after {
      content: "3";
    }
  }

  .advantages__item--time {
    &::after {
      content: "4";
    }
  }

  .advantages__item:last-child {
    margin-bottom: 266px;
  }

  .advantages__list {
    width: 644px;
    display: flex;
    margin-left: 19px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: auto;
  }

  .advantages__list {
    width: 1234px;
    flex-wrap: nowrap;
    margin-left: 109px;
  }

  .advantages__title {
    padding-left: 110px;
    margin-left: auto;
    margin-top: 79px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    width: 255px;
    font-size: 16px;
    line-height: 24px;
    margin-top: -1px;
  }
}
