.button {
  background-color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 280px;
  font-family: $main-font, $second-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
}
