.catalog__title {
  margin-left: 20px;
  margin-bottom: 40px;
}

.catalog__list {
  width: 320px;
  margin: 0;
  padding: 0;
}

.catalog__item {
  font-family: $second-font;
  margin-bottom: 24px;
  border-top: 1px solid $extra-color;
}

.catalog__item-flex {
  display: flex;
  flex-wrap: wrap;
}

.catalog__image {
  margin-left: 20px;
  margin-bottom: -4px;
}

.catalog__product-name {
  width: 100px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 11px;
}

.catalog__options {
  margin-left: -3px;
  font-size: 12px;
  line-height: 13px;
}

.catalog__value {
  display: block;
  margin-left: 63px;
  text-align: center;
}

.catalog__buy-button {
  margin-left: 20px;
}

.catalog__all-title {
  font-size: 16px;
  line-height: 13px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-top: 83px;
  margin-bottom: 3px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon-plus-mobile.svg");
    width: 31px;
    height: 31px;
    bottom: 40px;
    left: 45%;
  }
}

.catalog__all-description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.catalog__all-button {
  color: $main-font-color;
  background-color: $second-extra-color;
  margin-left: 20px;
  margin-bottom: 24px;
}

.catalog__item--border {
  border-bottom: 1px solid $extra-color;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-right: 0;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 21px;
    margin-top: 48px;
    margin-bottom: 165px;
  }

  .catalog__list {
    padding-right: 0;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
  }

  .catalog__item {
    width: 324px;
    background-color: $second-color;
    margin-right: 60px;
    margin-bottom: 141px;
    border: none;
  }

  .catalog__image {
    margin-left: 0;
    padding: 0;
    width: 323px;
    height: 172px;
    margin-top: -46px;
    margin-bottom: 12px;

    &--big {
      margin-top: -82px;
      height: 208px;
    }
  }

  .catalog__product-name {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    width: 150px;
    margin-left: 88px;
    margin-bottom: 16px;
  }

  .catalog__options {
    margin-left: 35px;
    margin-bottom: 34px;
  }

  .catalog__row {
    display: block;
    border-bottom: 1px dotted $main-font-color;
    margin-bottom: -2px;
  }

  .catalog__field {
    display: inline;
    font-size: 16px;
    line-height: 31px;
  }

  .catalog__value {
    display: inline;
    font-size: 16px;
    line-height: 33px;
    margin-left: 156px;
  }

  .catalog__buy-button {
    margin-left: 38px;
    width: 250px;
    padding: 9px 0 9px 0;
    margin-bottom: 40px;
  }

  .catalog__item--border {
    border: none;
  }

  .catalog__item:last-child {
    width: 322px;
    background-color: white;
    border: 1px solid $extra-color;
  }

  .catalog__all-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 164px;
    margin-left: 93px;
    width: 140px;

    &::before {
      background-image: url("/img/icon-plus.svg");
      width: 61px;
      height: 61px;
      bottom: 88px;
      left: 28%;
    }
  }

  .catalog__all-description {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    margin-left: 77px;
    margin-top: 24px;
    margin-bottom: 83px;
  }

  .catalog__all-button {
    width: 250px;
    margin-left: 37px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1440px;
  }

  .catalog__title {
    margin-left: 110px;
    margin-top: 188px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
  }

  .catalog__item:last-child {
    width: 245px;
  }

  .catalog__list {
    width: auto;
    margin-left: 110px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .catalog__image {
    width: 245px;
  }

  .catalog__product-name {
    margin-left: 48px;
    margin-top: 22px;
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__value {
    margin-left: 75px;
  }

  .catalog__buy-button {
    margin-left: 38px;
    width: 169px;
    padding: 9px 0 9px 0;
    margin-top: -1px;
    margin-bottom: 43px;
  }

  .catalog__all-title {
    margin-top: 162px;
    margin-left: 52px;
  }

  .catalog__all-description {
    margin-left: 36px;
    margin-top: 25px;
  }

  .catalog__all-button {
    width: 169px;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
