.extra-features {
  margin-top: 28px;
  width: 280px;
}

.extra-features__title {
  font-size: 24px;
  line-height: 24px;
  margin-left: 19px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    width: 53px;
    height: 3px;
    left: 248px;
    top: 14px;
  }
}

.extra-features__list {
  width: 280px;
  list-style: none;
  padding: 0;
  margin-left: 21px;
  margin-top: 34px;
}

.extra-features__item {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 17px;
  border-top: 1px solid $extra-color;
}

.extra-features__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 10px;
}

.extra-features__options {
  margin-left: -5px;
  margin-bottom: 12px;
}

.extra-features__value {
  display: block;
  width: 239px;
}

.extra-features__price {
  padding: 0;
}

.extra-features__item--border {
  border-bottom: 1px solid $extra-color;
}

.extra-features__gift {
  width: 280px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 56px;
  margin-bottom: 35px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/gift-photo-mobile@2x.jpg");
    background-size: auto 320px;
  }
}

.extra-features__gift-description {
  text-align: center;
  padding: 187px 50px 43px 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon-gift.svg");
    width: 56px;
    height: 61px;
    top: 65px;
    left: 112px;
  }
}

.extra-features__gift-description--line {
  display: block;
}

@media (min-width: $tablet-width) {
  .extra-features {
    margin-top: -51px;
    width: 768px;
    border-top: 3px solid $main-color;
  }

  .extra-features__title {
    background-color: white;
    width: 375px;
    padding-left: 39px;
    margin-left: 20px;
    margin-top: -25px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      content: none;
    }
  }

  .extra-features__list {
    margin-top: 98px;
    padding-left: 23px;
  }

  .extra-features__name {
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 25px;
  }

  .extra-features__item {
    margin-left: -23px;
    margin-top: -18px;
    width: 707px;
    font-size: 16px;
    line-height: 20px;
    border-left: 1px solid $extra-color;
    border-right: 1px solid $extra-color;
    border-bottom: 1px solid $extra-color;
  }

  .extra-features__options {
    margin-top: 26px;
    margin-right: 33px;
  }

  .extra-features__value {
    width: auto;
    margin-right: 49px;
  }

  .extra-features__item--flex {
    display: flex;
  }

  .extra-features__buy-button {
    width: 633px;
    margin-left: 37px;
    margin-top: 7px;
    margin-bottom: 27px;
  }

  .extra-features__gift {
    width: 708px;
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    margin-left: 22px;
    margin-top: 69px;
    margin-bottom: 28px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/gift-photo-tablet@2x.jpg");
      background-size: auto 200px;
    }
  }

  .extra-features__gift-description {
    width: 190px;
    text-align: left;
    padding: 72px 0 69px 0;
    margin-left: 423px;

    &::before {
      left: -333px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-features {
    width: 1440px;
    margin-bottom: 63px;
  }

  .extra-features__title {
    margin-left: 70px;
  }

  .extra-features--flex {
    display: flex;
    margin-top: 98px;
  }

  .extra-features__list {
    width: 871px;
    margin-left: 111px;
    margin-top: 0;
  }

  .extra-features__item {
    width: auto;
    display: flex;
    border-left: none;
    border-right: none;
  }

  .extra-features__name {
    width: 180px;
    margin-left: 0;
    margin-right: 147px;
  }

  .extra-features__options {
    width: 300px;
    margin-right: 0;
  }

  .extra-features__value {
    width: 200px;
    margin-right: 10px;
  }

  .extra-features__buy-button {
    width: 245px;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 28px;
  }

  .extra-features__gift {
    width: 245px;
    background-image: url("/img/gift-photo-desktop@1x.jpg");
    margin-left: 80px;
    margin-top: -18px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/gift-photo-desktop@2x.jpg");
      background-size: auto 289px;
    }
  }

  .extra-features__gift-description {
    width: 190px;
    text-align: center;
    padding: 171px 0 69px 0;
    margin-left: 27px;

    &::before {
      left: 68px;
      top: 49px;
    }
  }
}
