.main-form__title {
  margin-bottom: 36px;
  margin-top: 14px;
  margin-left: 20px;
}

.main-form__description {
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-left: 20px;

  &--sup {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-left: 62px;
    margin-bottom: 32px;
  }
}

.main-form__form {
  margin-left: 20px;
}

.main-form__info {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: -12px;
  border: none;
}

.main-form__input-label {
  width: 281px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.main-form__program {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: -21px;
  margin-bottom: 43px;
  border: $border-bottom;
  padding: 26px 0 0 18px;
}

.main-form__radio-label {
  margin-left: 47px;
  margin-bottom: 25px;
}

.main-form__radio-label input[type="radio"] + .main-form__radio-label--radio-indicator {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    left: -47px;
    border-radius: 50%;
    border: $border-bottom;
  }
}

.main-form__radio-label input[type="radio"]:checked + .main-form__radio-label--radio-indicator {
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: -37px;
    border-radius: 50%;
    background-color: $main-color;
  }
}

.main-form__contact {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: -12px;
  border: none;
  border-top: 3px solid $main-color;
  margin-bottom: 19px;
}

.main-form__contact-title {
  width: 200px;
  margin-left: -15px;
  margin-bottom: 33px;
}

.main-form__input-email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    right: 16px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    fill: $second-font-color;
  }
}

.main-form__input-phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    right: 12px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    fill: $second-font-color;
  }
}

.main-form__comment {
  width: 320px;
  border: none;
  border-top: 3px solid $main-color;
  margin-bottom: 29px;
}

.main-form__comment-title {
  width: 145px;
  margin-left: -29px;
  margin-bottom: 35px;
}

.main-form__comment-form {
  border: $border-bottom;
  width: 268px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: $main-font;
  margin-left: -13px;
  padding: 12px 0 46px 10px;
}

.main-form__extra {
  width: 320px;
  border: none;
  border-top: 3px solid $main-color;
  margin-bottom: 9px;
}

.main-form__extra-title {
  width: 165px;
  margin-left: -29px;
  margin-bottom: 40px;
}

.main-form__checkbox input[type="checkbox"] + .main-form__checkbox--indicator {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -47px;
    border: $border-bottom;
  }
}

.main-form__checkbox input[type="checkbox"]:checked + .main-form__checkbox--indicator {
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 17px;
    top: 4px;
    left: -41px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.main-form__extra--flex {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.main-form__checkbox {
  margin-bottom: 24px;
  margin-left: 33px;
}

.main-form__submit {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .main-form__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 49px;
    margin-bottom: 55px;
  }

  .main-form__description {
    width: 350px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 62px;
    margin-bottom: 56px;

    &--sup {
      margin-left: 65px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  .main-form__form {
    margin-left: 0;
  }

  .main-form__info {
    width: 768px;
    margin-bottom: 42px;
  }

  .main-form__input-label {
    width: 630px;
    margin-left: 59px;
  }

  .main-form__program {
    width: 610px;
    margin-left: 61px;
    margin-bottom: 99px;
    padding: 33px 0 0 18px;
  }

  .main-form__radio-label {
    margin-left: 70px;
    margin-bottom: 33px;
  }

  .main-form__radio-label input[type="radio"] + .main-form__radio-label--radio-indicator {
    &::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -60px;
    }
  }

  .main-form__radio-label input[type="radio"]:checked + .main-form__radio-label--radio-indicator {
    &::after {
      width: 18px;
      height: 18px;
      top: 7px;
      left: -48px;
    }
  }

  .main-form__contact-title {
    width: 555px;
    margin-left: 20px;
    margin-bottom: 72px;
  }

  .main-form__contact {
    width: 768px;
    margin-bottom: 59px;
  }

  .main-form__input-email {
    &::after {
      top: 24px;
      right: 17px;
    }
  }

  .main-form__input-phone {
    &::after {
      top: 20px;
      right: 14px;
    }
  }

  .main-form__comment {
    width: 768px;
    margin-left: 0;
    margin-bottom: 29px;
  }

  .main-form__comment-title {
    width: 220px;
    margin-left: 8px;
    margin-bottom: 76px;
  }

  .main-form__comment-form {
    width: 615px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 47px;
    margin-bottom: 58px;
    padding: 9px 0 13px 14px;
  }

  .main-form__extra {
    width: 768px;
    margin-top: -14px;
    margin-bottom: 9px;

    &--flex {
      display: flex;
      flex-direction: row;
      width: 688px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .main-form__checkbox {
    width: 200px;
    margin-bottom: -14px;
    margin-left: 103px;
    margin-right: auto;
    margin-top: 66px;
  }

  .main-form__extra-title {
    width: 253px;
    margin-top: -32px;
    margin-left: 6px;
    margin-bottom: 0;
    background-color: white;
  }

  .main-form__checkbox input[type="checkbox"] + .main-form__checkbox--indicator {
    &::before {
      width: 40px;
      height: 40px;
      top: -6px;
      left: -59px;
    }
  }

  .main-form__checkbox input[type="checkbox"]:checked + .main-form__checkbox--indicator {
    &::after {
      width: 22px;
      height: 17px;
      top: 8px;
      left: -49px;
    }
  }

  .main-form__submit {
    font-size: 20px;
    line-height: 20px;
    margin-left: 63px;
    margin-top: -13px;
    padding: 15px 0 15px 0;
  }

  .main-form__submit-button {
    display: flex;
    margin-top: 79px;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__title {
    margin-top: 67px;
    margin-left: 110px;
  }

  .main-form__description {
    margin-left: 110px;

    &--sup {
      margin-left: 83px;
      margin-top: 5px;
    }
  }

  .main-form__info {
    width: auto;
    margin-bottom: 42px;
    margin-left: -5px;

    &--flex {
      width: 1400px;
      display: flex;
      flex-direction: row;
      margin-bottom: -6px;
    }
  }

  .main-form__input-label {
    width: 570px;
    margin-left: 102px;
  }

  .main-form__program {
    width: 553px;
    margin-left: 60px;
    margin-top: 10px;
    padding: 33px 0 0 16px;
  }

  .main-form__contact-title {
    width: 555px;
    margin-left: 60px;
    margin-bottom: 72px;
  }

  .main-form__input-email {
    margin-right: -27px;

    &::after {
      right: 22px;
    }
  }

  .main-form__input-phone {
    &::after {
      right: 15px;
    }
  }

  .main-form__contact {
    width: auto;
    margin-bottom: 59px;
    margin-left: -5px;

    &--flex {
      width: 1340px;
      display: flex;
    }
  }

  .main-form__comment {
    width: auto;
    margin-left: -7px;
  }

  .main-form__comment-title {
    width: 220px;
    margin-left: 63px;
  }

  .main-form__comment-form {
    width: 1204px;
    margin-left: 102px;
    margin-bottom: 62px;
  }

  .main-form__extra {
    width: auto;
    margin-left: -7px;
  }

  .main-form__extra-title {
    margin-left: 63px;
  }

  .main-form__extra--flex {
    display: flex;
    flex-direction: row;
    width: 1300px;
    margin-left: 58px;
    justify-content: space-between;
  }

  .main-form__submit {
    width: 568px;
    margin-left: 112px;
    margin-top: -7px;
  }

  .main-form__submit-button {
    display: flex;
    margin-top: 79px;
    margin-bottom: 116px;
  }
}
