.map {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.map__image {
  margin-top: 15px;
  margin-bottom: -3px;
}

@media (min-width: $tablet-width) {
  .map {
    margin: 0;
    padding-top: 48px;
  }

  .map__image {
    width: auto;
    margin-top: 51px;
    margin-left: -7px;
  }
}

@media (min-width: $desktop-width) {
  .map__image {
    margin-top: -247px;
    margin-left: 0;
    z-index: -1;
  }
}
