.page-footer {
  background-color: $second-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 39px;
}

.page-footer__social {
  width: 125px;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding-top: 24px;
  padding-right: 80px;
  padding-left: 72px;
  padding-bottom: 17px;
  list-style: none;
  border-top: 1px solid $extra-color;
  border-bottom: 1px solid $extra-color;
}

.page-footer__social-img--vk {
  width: 22px;
  height: 12px;
}

.page-footer__social-img--insta {
  width: 17px;
  height: 17px;
}

.page-footer__social-img--fb {
  width: 10px;
  height: 19px;
}

.page-footer__copyright {
  width: 287px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 5px;
}

.page-footer__copyright-text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
  margin-left: 0;
}

.page-footer__copyright-image {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .page-footer__copyright {
    width: auto;
    margin-right: 32px;
    margin-top: 8px;
    align-items: center;
  }

  .page-footer__copyright-image {
    margin-top: 22px;
    margin-left: 15px;
  }

  .page-footer__copyright-text {
    margin-top: 18px;
  }

  .page-footer__social-img--vk {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-img--insta {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-img--fb {
    width: 15px;
    height: 26px;
    margin-top: -2px;
  }

  .page-footer__logo {
    margin-top: 30px;
    margin-left: 23px;
  }

  .page-footer__social {
    width: 125px;
    margin-top: 41px;
    margin-left: -18px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1440px;
    margin-left: 0;
  }

  .page-footer__logo {
    margin-top: 23px;
    margin-left: 110px;
  }

  .page-footer__copyright-text {
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }

  .page-footer__copyright {
    margin-top: 3px;
    margin-right: 103px;
  }

  .page-footer__social {
    margin-top: 35px;
    margin-left: -15px;
    border: none;
    width: 125px;
  }
}
