.page-header {
  display: flex;
}

.page-header__logo {
  margin-right: 65px;
  margin-top: 11px;
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;
    justify-content: space-between;
    margin: auto;
    padding-top: 53px;
  }

  .page-header__logo {
    margin-top: auto;
    margin-left: 109px;
  }
}
