.page-main__intro {
  width: 320px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 29px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: auto 320px;
  }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/index-can-mobile@1x.png");
      background-repeat: no-repeat;
      width: 280px;
      height: 270px;
      top: 170px;
      left: 20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: auto 270px;
    }
  }
}

.page-main__title {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 2px;
}

.page-main__main-image {
  align-self: center;
  margin-left: 21px;
  margin-top: 16px;
}

.page-main__description {
  line-height: 14px;
  text-transform: uppercase;
  font-family: $main-font, $second-font, sans-serif;
  color: white;
  margin-top: 23px;
  text-align: center;
}

.page-main__button {
  color: white;
  text-align: center;
  align-self: center;
  width: 280px;
  padding: 11px 0 11px 0;
  margin-top: 288px;
}

@media (min-width: $tablet-width) {
  .page-main__intro {
    background-image: none;
    padding-top: 45px;
    margin-bottom: 529px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      width: 709px;
      height: 609px;
      top: 246px;
      left: 21px;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: auto 600px;
      }
    }
}

  .page-main__title {
    color: $second-font-color;
    text-align: left;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    margin-left: 110px;
  }

  .page-main__description {
    width: 300px;
    color: $second-font-color;
    margin-top: 43px;
    margin-left: 110px;
    text-align: left;
  }

  .page-main__button {
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    align-self: auto;
    width: 245px;
    padding: 17px 0 17px 0;
    margin-left: 110px;
    margin-top: 30px;
    z-index: 1;
  }

  .page-main__main-image {
    width: 709px;
    height: 609px;
    margin-top: -80px;
    margin-left: 20px;
  }

  .page-main__main-picture {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1440px;
    margin-top: -137px;
  }

  .page-main__intro {
    width: auto;
    padding-bottom: 189px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right;
    margin-bottom: 79px;
    position: relative;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: auto 700px;
    }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    width: 550px;
    height: 499px;
    top: 142px;
    left: 560px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: auto 500px;
      }
    }
  }

  .page-main__main-image {
    margin: auto;
    position: absolute;
    width: 550px;
    height: 499px;
    top: 142px;
    left: 570px;
  }

  .page-main__button {
    font-size: 20px;
    line-height: 20px;
    margin-top: 32px;
    margin-left: 188px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .page-main__title {
    margin-top: 177px;
    margin-left: 190px;
  }

  .page-main__description {
    width: 292px;
    margin-left: 190px;
    margin-top: 41px;
    line-height: 20px;
  }
}
