.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin-right: 65px;
  margin-left: 20px;
  margin-top: 11px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    flex-direction: row;
  }

  .page-header__logo {
    margin-top: 26px;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;
  }

  .page-header__logo {
    margin-top: auto;
    margin-left: 110px;
    margin-right: 0;
  }
}
