.page-footer {
  background-color: $second-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 39px;
}

.page-footer__social {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding-top: 24px;
  padding-bottom: 21px;
  list-style: none;
  border-top: 1px solid $extra-color;
  border-bottom: 1px solid $extra-color;
}

.page-footer__copyright {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__copyright {
    display: block;
    width: auto;
    margin-right: 30px;
  }

  .page-footer__logo {
    margin-top: 0;
    margin-left: 30px;
  }

  .page-footer__social {
    margin-top: 63px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: auto;
    padding-left: 110px;
    padding-right: 110px;
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .page-footer__copyright {
    margin-right: 0;
  }
}
