body {
  background-color: white;
  font-family: $main-font, $second-font, sans-serif;
  color: $main-font-color;
  font-size: 14px;
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
