@font-face {
  font-family: "oswaldregular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("/fonts/oswaldregular.woff2") format("woff2"),
       url("/fonts/oswaldregular.woff") format("woff");
}

body {
  background-color: white;
  color: $main-font-color;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 20px;
    line-height: 20px;
  }
}
